.layout {
    /* background: url('./res/background.jpg') center / cover; */
    background: #ccc;
}
.layout .mdl-layout__header,
.layout .mdl-layout__drawer-button {
    color: white;
}

.roboto {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 1.5em;
}

.mdl-layout__header {
    background-color: #333 !important;
    margin-bottom: 12px !important;
}

.mdl-navigation .mdl-navigation__link:hover {
   background-color: #222;
}
